<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>YAY!!</title>
  </head>
  <body>
  	<h1>MAKE A PUPPY!</h1>
  	<form method="POST" name="puppy_creator" action="/new">
  		<p>Name: <input type="text" name="name"></p>
  		<p>Breed: <input type="text" name="breed"></p>
  		<p>Age: <input type="text" name="age"></p>
  		<input type="submit" id="submit">
  	</form>
 
  </body>
</html>